  <header class="grid">
    <div class="grid__col grid__col--5-of-5">
      <div class="small--title">
        <div class="text-center">
          <a href="{{ site.url }}"><h1 class="site--title">{{ site.title }}</h1></a>
        </div>
        <div class="text-center about">
         <p>توسعه دهنده وب</p>
        </div>
      </div>
    </div>

    <nav class="socials">
      <div class="text-center">
        <ul>
          <li><a class="github--acc" target="_blank" href="https://github.com/mahmood">گیت هاب</a></li>
          <li><a class="twitter--acc" target="_blank" href="https://twitter.com/@{{ site.twitter_username }}">توییتر</a></li>
          <li><a class="email--acc" href="mailto:{{ site.email }}">ایمیل</a></li>
          <li><a class="about--acc" href="{{ site.url }}/about">درباره من</a></li>
          <li><a class="contact--acc" href="{{ site.url }}/contact">ارتباط با من</a></li>          
          <li><a href="{{ site.url }}/feed.xml" target="_blank">خبرخوان</a></li>
          
        </ul>
      </div>
    </nav>
  </header>

  <hr class="header--divider"></hr>
